head
	title= "Grafico grafana"
body
	h2= "Grafico básico de Grafana"
	p
		iframe(
			src= "http://82.223.81.195:6651/d-solo/Wi8lIX_Gz/dashboardruben?orgId="+orgId+"&from="+from+"&to="+to+"&panelId="+panelId
			width="800"
			height="600"
			frameborder="0"
		)